{
    "LobbyRole": "EU-pug",
    "LobbyRolePing": "True",
    "LobbyChannel": "lobby-bot",
    "LobbyAutoLaunch": "False",
    "LobbyAutoReset": "True",
    "LobbyMessageTitle": "\uD83C\uDDEA\uD83C\uDDFA EU PUG \uD83C\uDDEA\uD83C\uDDFA",
    "LobbyMessageColor": "001489",
    "ActiveMessageColor": "FFDD00",
    "EnableImageSend": "False",
    "LobbyThreshold": "12",
    "LobbyCooldown": "75m",
    "SapphireTeamName": "West",
    "AmberTeamName": "East",
    "EitherTeamName": "Iron Curtain",
    "EnableHeroDraft": "True",
    "EnablePlayerDraft": "True",
    "EnableReadyUp": "True"
}
