{
    "LobbyRole": "EU-pug",
    "LobbyRolePing": "True",
    "LobbyAutoLaunch": "True",
    "LobbyAutoReset": "True",
    "LobbyMessageTitle": "\uD83C\uDDEA\uD83C\uDDFA EU Playtest \uD83C\uDDEA\uD83C\uDDFA",
    "LobbyMessageColor": "001489",
    "ActiveMessageColor": "FFDD00",
    "LobbyThreshold": "4",
    "LobbyCooldown": "15m",
    "TeamNames":[
      "EUROPEAN",
      "UNION"
    ]
}
